*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background: rgb(226,212,241);
    background: linear-gradient(90deg, rgba(226,212,241,1) 0%, rgba(184,119,249,1) 67%, rgba(129,26,232,1) 100%);
}

main{
    padding: 30px;
    align-content: center;
}

time{
    font-style: italic;
}

.container{
    width: 300px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
    margin: 20px;
    float: left;
}

h1{
    font-weight: lighter;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

img{
    max-width: 100%;
    max-height: 100%;
}